body {
    background-color: white;
    color: #333;
    padding-top: 56px; /* Pour éviter que la navbar fixe cache le contenu */
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    margin-bottom: 20px;
}

.service-card {
    background-color: #f8f9fa;
    text-align: center;
}

.gallery-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* Responsive: Éviter les marges excessives sur mobile */
@media (max-width: 768px) {
    .gallery-img {
        margin-bottom: 10px;
    }
    .btn {
        margin: 5px;
    }
}
.list{
    display: flex;
    padding: 5px;
    list-style: none;
    height: 0;
}
.list li{
    margin-left: 9px;
}